{% extends 'base2.html' %}

{% block title %} iniciar sesion {% endblock title %}

{%block cuerpo %}

<br>
<div class="panel panel-primary">
      <div class="panel-heading">
            <h3 class="panel-title">Inicio de sesion:</h3>
      </div>
      <div style="margin-left:45px;margin-bottom:20px;">
      <form action="" method="POST"> {% csrf_token %}
       <font Face="calibri" color= #3BEB14>
        <br>
        {{formulario.as_p}}
        <font Face="calibri" color= #3BEB14> </p> Usuario Invalido </p></font>
        
        </font>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/register/" type="button" class="btn btn-primary">Registro</button></a>
      </form>
  </div>
</div>

{% endblock cuerpo %}