{% extends 'base3.html' %}
{% block cuerpo %}
<font Face="calibri" color= #15ABE7> <big><b> USUARIOS: </big></b></font>
<div style="text-align:right"><B><a href="/admin_medica/">Volver</a></B></div>
<ol>
	<div style="margin-top:30px;text-align=center">
		<div><B><a href="/Pacientes/">* Pacientes</a></B></div>
		<div><B><a href="/MedicoG/">* Medicos Generales</a></B></div>
		<div><B><a href="MedicoE/">* Medicos Especialistas</a></B></div>


</div>

</ol>
{% endblock cuerpo %}
