{% extends 'base3.html' %}
{% block cuerpo %}
<br>
<div style="margin-bottom:20px;margin-left:475px">
<b><big><font Face="calibri" color= #15ABE7> ADMINISTRACION DEL SITIO: </font></big></b>
</div>
<div>
<div>
<div style="margin-top:10px;margin-left: 175px;width:400px;text-align:center;float:left">
<fieldset style="min-height:100px;">
<legend><b> Solicitudes </b> </legend>

<label> <br/> <a href="{% url 'solicitudes_usuarios' %}" ><span class="glyphicon glyphicon-user"></span> SOLICITUDES USUARIOS</a></label><br>
<label> <br/><a href="{% url 'solicitudes_medicamentos' %}" ><span class="glyphicon glyphicon-plus"></span> SOLICITUDES MEDICAMENTOS</a></label><br>
<label> <br/><a href="{% url 'solicitudes_tratamientos' %}" ><span class="glyphicon glyphicon-heart-empty"></span> SOLICITUDES TRATAMIENTOS</a></label>
</fieldset>
</div>
<div style="margin: 10px;width:400px;text-align:center;float:left;">
<fieldset style="min-height:100px;">
<legend><b> Contenido </b> </legend>

<div style="float:left;margin-left:60px">
<label> <br/> <a href="{% url 'pacientes' %}" ><span class="glyphicon glyphicon-user"></span>  PACIENTES</a></label><br>
<label> <br/><a href="{% url 'medicamento' %}" ><span class="glyphicon glyphicon-plus"></span> MEDICAMENTOS</a></label><br>
<label> <br/><a href={% url 'tratamientos' %} ><span class="glyphicon glyphicon-heart-empty"></span> TRATAMIENTOS</a></label><br>
</div>
<div style="float:center;margin-right=20px">
<label> <br/> <a href="{% url 'eps' %}" ><span class="glyphicon glyphicon-briefcase"></span>  EPS</a></label><br>
<label> <br/><a href="{% url 'leyes' %}" ><span class="glyphicon glyphicon-list-alt"></span> LEYES</a></label><br>
<label> <br/><a href="{% url 'gruposdeapoyo' %}" ><span class="glyphicon glyphicon-comment"></span> GRUPOS</a></label>
</div>

</fieldset>
</div>
{% endblock cuerpo %}
