<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>{% block title %}Venta y control de tu receta medica {%endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-sale=1.0">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}medica/css/bootstrap.css">
<script type="text/javascript" src="{{STATIC_URL}}medica/js/jquery.min.js"></script>

</head>
<style>


      body {
        background-color: #FFFFFF;
      }

      </style>
<body>

<div class="container">
   <div style="text-align:right;"><font Face="calibri" color= #15ABE7>....Bienvenido!....{{username}}</font></div>
  <img  src="{{STATIC_URL}}medica/img/encabezado.gif" class="img-responsive" alt="Image">
  <div style="text-align:right"><B><a href="#">¿Quejas, sugerencias o reclamos? su opinion es muy importante</a></B>
    </div>

    {% if user.is_authenticated %}
      {%if user.is_superuser%}
      <a href="{% url 'admin_medica' %}" >Admin</a>
      {% endif %}
    <a href= "{% url 'logout' %}" >Logout</a><br>
    {% else %}
    <a href= "{% url 'login' %}" >Login</a>
    <a href= "{% url 'solicitar_usuario' %}" >Registro</a><br>
    {% endif %}
  
  
    <a href="{% url 'index' %}" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Inicio </a>
 
  {% if user.is_authenticated %}

    {% if user.es_paciente %}
      
        <a href="{% url 'medicos' %}" class="btn btn-primary"><span class="glyphicon glyphicon-heart-empty"></span> Medicos</a>
        <a href="{% url 'medicos' %}" class="btn btn-primary"><span class="glyphicon glyphicon-heart-empty"></span> Solicitar Tratamiento</a>
        <a href="{% url 'medicos' %}" class="btn btn-primary"><span class="glyphicon glyphicon-heart-empty"></span> Solicitar Medicamento</a>
      
    {% elif user.es_medico_general or user.es_medico_especialista %}
      <div class="btn-group">
        <a href="{% url 'pacientes' %}" class="btn btn-primary"><span class="glyphicon glyphicon-heart-empty"></span> Pacientes</a>
        <a href="{% url 'medicos' %}" class="btn btn-primary"><span class="glyphicon glyphicon-heart-empty"></span> Quejas y reclamos</a>
      </div>
    {% endif %}

    
      <a href="{% url 'gruposdeapoyo' %}" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Grupos de Apoyo</a>
      <a href="{% url 'gruposdeapoyo' %}" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Servicios </a>
      <a href="{% url 'gruposdeapoyo' %}" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Enfermedades</a>
      <a href="{% url 'gruposdeapoyo' %}" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Editar Perfil</a>
   
  {% endif %}
  
    <a href="{% url 'medicamento' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Medicamentos </a>
    <a href="{% url 'eps' %}" class="btn btn-primary"><span class="glyphicon glyphicon-briefcase"></span> EPS</a>
    <a href="{% url 'leyes' %}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Leyes</a>
    <a href="{% url 'leyes' %}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Tratamientos</a>
    
<div class="span11" >
  {% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>
        {{message}}
      </div>
    {% endfor %}
  {% endif %}
</div>
  {% block cuerpo %}

  {% endblock cuerpo %}
</div>





<script src="{{STATIC_URL}}medica/js/jquerty.js"></script>
<script src="{{STATIC_URL}}medica/js/bootstrap.js"></script>

</body>
</html>