{% extends 'base3.html' %}
{% block cuerpo %}
<font Face="calibri" color= #15ABE7> <big><b> Leyes: </big></b></font>
<div style="text-align:right"><B><a href="/admin_medica/"><- Volver</a></B></div>
<ol>
	<div style="margin-top:30px;">
	<table border=”1” cellpadding=”3” cellspacing=”2” width=”800” > 
	<tr>
		<th>Ley</th><th>Articulo</th><th>Descripcion</th>
	</tr>

	{% for Leyes in object_list %}
		
			<tr align="center" valign="middle" bgcolor="#B1FFCC">
				<th>{{Leyes.nombre}}</th><th>{{Leyes.articulo}}</th><th>{{Leyes.descripcion}}</th><th><button type="button" class="btn btn-primary" action"prueba.php"><span class="glyphicon glyphicon-ok"></span>Aceptar</button></th><th><button type="button" class="btn btn-primary" name="Aceptar"><span class="glyphicon glyphicon-remove"></span>Rechazar</button></th><th><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span>Eliminar</button></th>
			</tr>
		
	{% endfor %}


</table>
</div>

</ol>
{% endblock cuerpo %}