{% extends 'base3.html' %}
{% block cuerpo %}
<div style="text-align:right"><B><a href="/usuarios/"><- Volver</a></B></div>
<font Face="calibri" color= #15ABE7> <big><b> Medicos Generales: </big></b></font>
<ol>
	<div style="margin-top:30px;">
	<table border=”1” cellpadding=”3” cellspacing=”2” width=”800” > 
	<tr>
		<th>Primer nombre</th><th>Segundo Nombre</th><th>Primer Apellido</th><th>Segundo Apellido</th><th>Email</th>
	</tr>

	{% for MedicosG in object_list %}
		
			<tr align="center" valign="middle" bgcolor="#B1FFCC">
				<th>{{MedicosG.nombre1}}</th><th>{{MedicosG.nombre2}}</th><th>{{MedicosG.apellido1}}</th><th>{{MedicosG.apellido2}}</th><th>{{MedicosG.email}}</th><th><button type="button" class="btn btn-primary" action"prueba.php"><span class="glyphicon glyphicon-ok"></span>Aceptar</button></th><th><button type="button" class="btn btn-primary" name="Aceptar"><span class="glyphicon glyphicon-remove"></span>Rechazar</button></th><th><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span>Eliminar</button></th>
			</tr>
		
	{% endfor %}


</table>
</div>

</ol>
{% endblock cuerpo %}