{% extends 'base3.html' %}
{% block cuerpo %}
<font Face="calibri" color= #15ABE7> <big><b> SOLICITUDES USUARIOS: </big></b></font>
<div style="text-align:right"><B><a href="/admin_medica/"><- Volver</a></B></div>
<ol>
	<div style="margin-top:30px;">
	<table border=”1” cellpadding=”3” cellspacing=”2” width=”800” >
	<tr>
		<th>
			Primer nombre</th>
		<th>
			Segundo Nombre</th>
		<th>
			Primer Apellido</th>
		<th>
			Segundo Apellido</th>
		<th>
			Email</th>
		<th>
			Estado</th>
		<th>
			Perfil</th>

	</tr>

	{% for Solicitudes in object_list %}

			<tr align="center" valign="middle" bgcolor="#B1FFCC">
				<th>
					{{Solicitudes.nombre1}}</th>
				<th>
					{{Solicitudes.nombre2}}</th>
				<th>
					{{Solicitudes.apellido1}}</th>
				<th>
					{{Solicitudes.apellido2}}</th>
				<th>
					{{Solicitudes.email}}</th>
				<th>
					{{Solicitudes.estado.nombreestado}}</th>
				<th>
					{{Solicitudes.id_perfil.nombreperfil}}</th>
				<th>
					<a class="btn btn-primary" href="{% url 'aceptar_solicitud_usuario' Solicitudes.id %}">
						<span class="glyphicon glyphicon-ok"></span> Aceptar
					</a>
				</th>
				<th>
					<a class="btn btn-warning" href="{% url 'cancelar_solicitud_usuario' Solicitudes.id %}">
						<span class="glyphicon glyphicon-ok"></span> Rechazar
					</a>
				</th>
				<th>
					<a class="btn btn-danger" href="{% url 'eliminar_solicitud_usuario' Solicitudes.id %}">
						<span class="glyphicon glyphicon-ok"></span> Eliminar
					</a>
				</th>

			</tr>

	{% endfor %}


</table>
</div>

</ol>
{% endblock cuerpo %}
