{% extends 'base3.html' %}
{% block cuerpo %}
<font Face="calibri" color= #15ABE7> <big><b> SOLICITUDES TRATAMIENTOS: </big></b></font>
<div style="text-align:right"><B><a href="/admin_medica/"><- Volver</a></B></div>
<ol>
	<div style="margin-top:30px;">
	<table border=”1” cellpadding=”3” cellspacing=”2” width=”800” >
	<tr>
		<th>Tratamiento</th>
	</tr>

	{% for Tratamientos in object_list %}

		<th>
			<a class="btn btn-primary" href="{% url 'aceptar_solicitud_usuario' Solicitudes.id %}">
				<span class="glyphicon glyphicon-ok"></span> Aceptar
			</a>
		</th>
		<th>
			<a class="btn btn-warning" href="{% url 'cancelar_solicitud_usuario' Solicitudes.id %}">
				<span class="glyphicon glyphicon-ok"></span> Rechazar
			</a>
		</th>
		<th>
			<a class="btn btn-danger" href="{% url 'eliminar_solicitud_usuario' Solicitudes.id %}">
				<span class="glyphicon glyphicon-ok"></span> Eliminar
			</a>
		</th>

	{% endfor %}
</table>
</div>

</ol>
{% endblock cuerpo %}
