{% extends 'base3.html' %}

{% block cuerpo %}
    <div style="margin-top:30px;">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table table-hover table-striped table-bordered">
                <tr>
                    <td colspan="3">
                        <h4>Solicitar Usuario</h4>
                    </td>
                </tr>
                {% for field in formulario %}
                    <tr>
                        <td>{{field.label}}</td>
                        <td>{{field}}</td>
                        <td class="text-danger">{{field.errors}}</td>
                    </tr>
                {% endfor %}
            </table>
            <td width="50%">
            <center><input type="submit"   value="Enviar"></center>
        </form>
    </div>
{% endblock cuerpo %}
