{% extends 'base3.html' %}

{% block cuerpo %}
    <div style="margin-top:30px;">
        <p class="text-success">Su solicitud ha sido enviada, deberá ser aprobada por el administrador</p>
    </div>
{% endblock cuerpo %}
