{% extends 'base3.html' %}
{% block cuerpo %}
<font Face="calibri" color= #15ABE7> <big><b> Tratamientos: </big></b></font>
<div style="text-align:right"><B><a href="/admin_medica/"><- Volver</a></B></div>
<ol>
	<div style="margin-top:30px;">
	<table border=”1” cellpadding=”3” cellspacing=”2” width=”800” > 
	<tr>
		<th>Tratamiento</th><th>Duracion(horas)</th><th>Medicamento</th><th>Paciente</th><th>Medico Encargado</th><th>Descripcion</th>
	</tr>

	{% for Tratamiento in object_list %}
		
			<tr align="center" valign="middle" bgcolor="#B1FFCC">
				<th>{{Tratamiento.nombre}}</th><th>{{Tratamiento.duracion}}</th><th>{{Tratamiento.medicamentos.nombre}}</th><th>{{Tratamiento.paciente.nombre1}}{{Tratamiento.paciente.nombre2}}{{Tratamiento.paciente.apellido1}}{{Tratamiento.paciente.apellido2}}</th><th>{{Tratamiento.medicoencargado.nombre1}}{{Tratamiento.medicoencargado.nombre2}}{{Tratamiento.medicoencargado.apellido1}}{{Tratamiento.medicoencargado.apellido2}}</th><th>{{Tratamiento.descripcion}}</th><th><button type="button" class="btn btn-primary" action"prueba.php"><span class="glyphicon glyphicon-ok"></span>Aceptar</button></th><th><button type="button" class="btn btn-primary" name="Aceptar"><span class="glyphicon glyphicon-remove"></span>Rechazar</button></th><th><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span>Eliminar</button></th>
			</tr>
		
	{% endfor %}


</table>
</div>

</ol>
{% endblock cuerpo %}